.App {
  text-align: center;
}

.btn-space {
  margin-right: 30px;
}

.Name {
  font-size: calc(35px + 2vmin);
  font-weight: bold;
}

.App-header {
  background-color: #006666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
